*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    position: fixed;
    height: 70px;
    top: 0;
}

nav button {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.nav-links.active {
    display: flex;
}

@media screen and (max-width: 768px) {
    nav button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        width: 200px;
        border-radius: 5px;
        text-align: center;
    }

}
nav h3{
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: 2px;
}
nav ul {
    display: flex;
    width: 50%;
    justify-content: space-around ;
    align-items: center;
    font-size: 25px;
    font-weight: bold;

}
nav ul li a{
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
    color: #9FCADE;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(imgs/background.avif);
    background-size: cover;
    background-position: center; 
    margin-top: 30px;
}
main .main-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    margin-left: 20px;
}
main .main-desc h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}
main .main-desc p{
    font-size: 20px;
    margin-bottom: 20px;
}
main .main-desc a{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
main .main-desc a:hover{
    background-color: #fff;
    color: #000;
}

#mobiles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: cornsilk;
}

#mobiles h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#mobiles .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
}

#mobiles .container .mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#mobiles .container .mobile img{
    width: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#mobiles .container .mobile h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#mobiles .container .mobile h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#mobiles .container .mobile button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#mobiles .container .mobile button:hover{
    background-color: cornsilk;
    color: #000;
}
#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #9FCADE;
}

#contact h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#contact form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
}

#contact form input{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

#contact textarea{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 150px;
    width: 60%;
    margin-bottom: 20px;
}

#contact button{
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#contact button:hover{
    background-color: cornsilk;
    color: #000;
}

#contact input:hover{
    background-color: cornsilk;
    color: #000;
}

#contact textarea:hover{
    background-color: cornsilk;
    color: #000;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0px;
    background-color: #000;
    color: #fff;
}

footer h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}